.background{
    background-image: url(static/carousel.png);
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 100%;
}

/* .HeroText{
    background-color: rgba(0, 0, 0, 0.1);
} */

@media (max-width: 576px) {
    .HeroTitle{font-size: 20px;}
    .HeroText{font-size: 14px;}
    .HeroButton{font-size: 14px;}
}