    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: black; */

body {
    background-image: linear-gradient(135deg, #b2e7ff 10%, #04e522 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    /* background-color: black; */
}
.inputs{
    text-align: center;
}
.container h1{
    align-items: center;
    text-align: center;

}
.inputs{
    border-radius: 10px;
    padding: 6px;
}

.container {
    text-align: center;

}

.dropdowns{
    text-align: center;
    margin-top: 2rem;
    
}

.dropss{
    width: 20%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    /* background-color: rgb(67, 221, 36); */
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    color: white;
    padding: 7px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
    opacity: 0.9;
    border: 1px solid white;
    border-radius: 5%;
}

.registerbtn:hover {
    opacity: 1;
}
