body {
    background-image: linear-gradient(135deg, #b2e7ff 10%, #04e522 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }
  
  .box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #096f1185;
    /* margin-top: 10rem;
    height: 40rem; */
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  @media (min-width: 500px) {
    .overlay{
        font-size: 2vmax !important;
    }
  }

  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg"); */
    overflow: hidden;
    /* width: 60%; */
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #59f98e98;
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
    /* margin-top:5rem ; */
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .loginBox {
    padding: 40px;
    overflow: hidden;
    /* margin-top: 5rem; */
  }
  @media (max-width: 980px) {
    .box-form .loginBox {
      width: 100%;
    }
  }
  .box-form .loginBox h5 {
    font-size: 2vmax;
    font-weight: bold;
    /* line-height: 4; */
  }
  .box-form .loginBox p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .loginBox .inputs {
    overflow: hidden;
  }
  .box-form .loginBox input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .loginBox .forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .loginBox .forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .loginBox button {

    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  }